aiohttp==3.12.15
dateparser==1.2.2
cryptography==46.0.1
email-validator==2.1.0
fastapi==0.116.1
google-cloud-secret-manager==2.16.0
python-dotenv==1.1.1
pydantic==2.11.7
uvicorn==0.35.0
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0

sentry-sdk==2.51.0